
.box1 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 155px;
    position: absolute;
    display: none;
}
    

.butoon1 {
    left: 66px;
    top: 162px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box2 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 197px;
    position: absolute;
    display: none;
}
    

.butoon2 {
    left: 66px;
    top: 204px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box3 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 239px;
    position: absolute;
    display: none;
}
    

.butoon3 {
    left: 66px;
    top: 246px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box4 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 281px;
    position: absolute;
    display: none;
}
    

.butoon4 {
    left: 66px;
    top: 288px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box5 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 155px;
    position: absolute;
    display: none;
}
    

.butoon5 {
    left: 108px;
    top: 162px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box6 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 197px;
    position: absolute;
    display: none;
}
    

.butoon6 {
    left: 108px;
    top: 204px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box7 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 239px;
    position: absolute;
    display: none;
}
    

.butoon7 {
    left: 108px;
    top: 246px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box8 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 281px;
    position: absolute;
    display: none;
}
    

.butoon8 {
    left: 108px;
    top: 288px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box9 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 155px;
    position: absolute;
    display: none;
}
    

.butoon9 {
    left: 206px;
    top: 162px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box10 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 197px;
    position: absolute;
    display: none;
}
    

.butoon10 {
    left: 206px;
    top: 204px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box11 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 239px;
    position: absolute;
    display: none;
}
    

.butoon11 {
    left: 206px;
    top: 246px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box12 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 281px;
    position: absolute;
    display: none;
}
    

.butoon12 {
    left: 206px;
    top: 288px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box13 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 155px;
    position: absolute;
    display: none;
}
    

.butoon13 {
    left: 248px;
    top: 162px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box14 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 197px;
    position: absolute;
    display: none;
}
    

.butoon14 {
    left: 248px;
    top: 204px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box15 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 239px;
    position: absolute;
    display: none;
}
    

.butoon15 {
    left: 248px;
    top: 246px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box16 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 281px;
    position: absolute;
    display: none;
}
    

.butoon16 {
    left: 248px;
    top: 288px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box17 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 155px;
    position: absolute;
    display: none;
}
    

.butoon17 {
    left: 343px;
    top: 162px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box18 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 197px;
    position: absolute;
    display: none;
}
    

.butoon18 {
    left: 343px;
    top: 204px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box19 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 239px;
    position: absolute;
    display: none;
}
    

.butoon19 {
    left: 343px;
    top: 246px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box20 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 281px;
    position: absolute;
    display: none;
}
    

.butoon20 {
    left: 343px;
    top: 288px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box21 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 155px;
    position: absolute;
    display: none;
}
    

.butoon21 {
    left: 385px;
    top: 162px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box22 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 197px;
    position: absolute;
    display: none;
}
    

.butoon22 {
    left: 385px;
    top: 204px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box23 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 239px;
    position: absolute;
    display: none;
}
    

.butoon23 {
    left: 385px;
    top: 246px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box24 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 281px;
    position: absolute;
    display: none;
}
    

.butoon24 {
    left: 385px;
    top: 288px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box25 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 362px;
    position: absolute;
    display: none;
}
    

.butoon25 {
    left: 66px;
    top: 369px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box26 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 404px;
    position: absolute;
    display: none;
}
    

.butoon26 {
    left: 66px;
    top: 411px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box27 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 446px;
    position: absolute;
    display: none;
}
    

.butoon27 {
    left: 66px;
    top: 453px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box28 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 66px;
    top: 488px;
    position: absolute;
    display: none;
}
    

.butoon28 {
    left: 66px;
    top: 495px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box29 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 362px;
    position: absolute;
    display: none;
}
    

.butoon29 {
    left: 108px;
    top: 369px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box30 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 404px;
    position: absolute;
    display: none;
}
    

.butoon30 {
    left: 108px;
    top: 411px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box31 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 446px;
    position: absolute;
    display: none;
}
    

.butoon31 {
    left: 108px;
    top: 453px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box32 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 108px;
    top: 488px;
    position: absolute;
    display: none;
}
    

.butoon32 {
    left: 108px;
    top: 495px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}


.box33 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 362px;
    position: absolute;
    display: none;
}
    

.butoon33 {
    left: 206px;
    top: 369px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box34 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 404px;
    position: absolute;
    display: none;
}
    

.butoon34 {
    left: 206px;
    top: 411px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box35 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 446px;
    position: absolute;
    display: none;
}
    

.butoon35 {
    left: 206px;
    top: 453px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box36 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 206px;
    top: 488px;
    position: absolute;
    display: none;
}
    

.butoon36 {
    left: 206px;
    top: 495px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box37 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 362px;
    position: absolute;
    display: none;
}
    

.butoon37 {
    left: 248px;
    top: 369px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box38 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 404px;
    position: absolute;
    display: none;
}
    

.butoon38 {
    left: 248px;
    top: 411px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box39 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 446px;
    position: absolute;
    display: none;
}
    

.butoon39 {
    left: 248px;
    top: 453px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box40 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 248px;
    top: 488px;
    position: absolute;
    display: none;
}
    

.butoon40 {
    left: 248px;
    top: 495px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}


.box41 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 362px;
    position: absolute;
    display: none;
}
    

.butoon41 {
    left: 343px;
    top: 369px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box42 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 404px;
    position: absolute;
    display: none;
}
    

.butoon42 {
    left: 343px;
    top: 411px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box43 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 446px;
    position: absolute;
    display: none;
}
    

.butoon43 {
    left: 343px;
    top: 453px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box44 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 343px;
    top: 488px;
    position: absolute;
    display: none;
}
    

.butoon44 {
    left: 343px;
    top: 495px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box45 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 362px;
    position: absolute;
    display: none;
}
    

.butoon45 {
    left: 385px;
    top: 369px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box46 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 404px;
    position: absolute;
    display: none;
}
    

.butoon46 {
    left: 385px;
    top: 411px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box47 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 446px;
    position: absolute;
    display: none;
}
    

.butoon47 {
    left: 385px;
    top: 453px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.box48 {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 385px;
    top: 488px;
    position: absolute;
    display: none;
}
    

.butoon48 {
    left: 385px;
    top: 495px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxA {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 266px;
    top: 590px;
    position: absolute;
    display: none;
}
    

.butoonA {
    left: 272px;
    top: 600px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxB {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 218px;
    top: 590px;
    position: absolute;
    display: none;
}
    

.butoonB {
    left: 225px;
    top: 600px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.butoonC {
    left: 176px;
    top: 600px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxC {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 168px;
    top: 590px;
    position: absolute;
    display: none;
}
    

.butoonD {
    left: 128px;
    top: 600px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxD {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 121px;
    top: 590px;
    position: absolute;
    display: none;
}
    

.butoonE {
    left: 79px;
    top: 600px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxE {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 71px;
    top: 590px;
    position: absolute;
    display: none;
}
 
.boxF {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 266px;
    top: 626px;
    position: absolute;
    display: none;
}
    

.butoonF {
    left: 272px;
    top: 636px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxG {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 218px;
    top: 626px;
    position: absolute;
    display: none;
}
    

.butoonG {
    left: 225px;
    top: 636px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.butoonH {
    left: 176px;
    top: 636px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxH {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 168px;
    top: 626px;
    position: absolute;
    display: none;
}
    

.butoonI {
    left: 128px;
    top: 636px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxI {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 121px;
    top: 626px;
    position: absolute;
    display: none;
}
    

.butoonJ {
    left: 79px;
    top: 636px;
    height: 10px;
    position: absolute;
    text-decoration-color: black;
}

.boxJ {
    background: #00ff00;
    color: #00ff00;
    padding: 20px;
    width: 1px;
    height: 1px;
    left: 71px;
    top: 626px;
    position: absolute;
    display: none;
}
 
